@import "~antd/dist/antd.min.css";
.App li {
  margin-top: 20px;
}

.Header {
  background-color: white;
}
.header1,
.header3 {
  padding: 10px;
}
.rowNav {
  margin: 0px auto;
  background-color: red;
}
.space-align-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
